:root {
  --primary-white-color: #ffffff;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hero-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
}

/* Шапка */

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
}

.logo:hover,
.logo:focus {
  color: var(--logo-black-color);
}

.studio {
  color: var(--logo-black-color);
}

.studio:hover {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.nav .link {
  color: var(--secondary-text-color);
}

.nav .link.current {
  color: var(--accent-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.info .link {
  color: var(--secondary-text-color);
}

.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  background-color: var(--hero-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
}

.hero-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero-btn:hover {
  color: var(--hero-bg-color);
  cursor: pointer;
}

/* Секції */

.section-title {
  color: var(--secondary-text-color);
}

.card-title {
  color: var(--secondary-text-color);
}

/* Портфоліо */

.list-button {
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

.list-button:hover,
.list-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Підвал */

.footer {
  background-color: var(--hero-bg-color);
}

.address {
  color: var(--primary-white-color);
}

.address .link {
  color: var(--address-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
